#wrap {
    display: flex;
}

.right {
    border: 1px dashed #ccc;
    padding: 20px;
    margin-left: 100px;
    min-width: 400px;
}

button[type=submit] {
    display: block;
    margin-top: 40px;
}
